<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726953978920-m4l69ccog8pug8q7r0l7tdhd3n23n96v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726953978920-m4l69ccog8pug8q7r0l7tdhd3n23n96v</string>
	<key>API_KEY</key>
	<string>AIzaSyCDSlRHWTcFTaeaVN5zwjhiu78sgjzmh94</string>
	<key>GCM_SENDER_ID</key>
	<string>726953978920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viseo.ViseoCompanion</string>
	<key>PROJECT_ID</key>
	<string>viseocompanion</string>
	<key>STORAGE_BUCKET</key>
	<string>viseocompanion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726953978920:ios:ac03ce93e1d09689</string>
	<key>DATABASE_URL</key>
	<string>https://viseocompanion.firebaseio.com</string>
</dict>
</plist>